body{
    background-color: blueviolet;
}
h2{
    color: white;
}
p{
    color: rgb(240, 13, 191);
    font-size: 29px;
    font-weight: bold;
}
span{
    color: yellow;
    font-size: 25px;
}
h4{
    font-weight: bold;
}